/*codigo nueva pagina*/
.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.bg-purple {
  background-color: purple;
}

.bg-primary {
  background-color: #6a1b9a !important; /* Color morado */
}



.card-body {
  display: flex;
  flex-direction: column;
}

.card-title {
  flex: 0;
}

.card-text {
  flex: 1;  /* Esto hace que el texto ocupe todo el espacio disponible */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;  /* El número de líneas que deseas mostrar */
  -webkit-box-orient: vertical;
  margin-bottom: 1rem;
}

.btn {
  flex: 0;
}

/* Added for improved design */
body {
  background-color: #FFFFFF !important;
}

/* Adding hover effects */
.card:hover {
  transform: scale(1.02);
  transition: transform 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

/* Refined styles for cards */
.card-text {
  transition: -webkit-line-clamp 0.3s;
}

.card-text:hover {
  -webkit-line-clamp: 10;  /* Show more lines on hover */
}

.latest-news, .projects {
    padding: 20px;
    border: 1px solid #E0E0E0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.btn-feminist-green {
    background-color: #00D166 !important;
    color: #FFFFFF !important;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.project-card .btn {
    align-self: flex-end;
}

.project-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card .btn-feminist-green {
    align-self: flex-end;
}

body {
    /* Assuming there's already a background image set */
    background-attachment: fixed;
    perspective: 1px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    transform-style: preserve-3d;
}

/* Making sure the main content scrolls over the fixed background */
.main-content {
    position: relative;
    z-index: 1;
    transform: translateZ(0);
}

/* Enhancing the parallax effect */
body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Adding more spacing between sections */
section, .section-class-name {
    margin-bottom: 100px;
}

/* Adding a shadow to sections */
section, .section-class-name {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;  /* Adding some padding to give space for the shadow */
    background-color: white;  /* Setting a background color to ensure the shadow is visible */
}

footer {
  background-color: #6a0dad;
  color: white;
}