/*codigo nueva pagina*/
.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.bg-purple {
  background-color: purple;
}

.bg-primary {
  background-color: #6a1b9a !important; /* Color morado */
}
